#everything {
    font-family: 'News Cycle', sans-serif;
    background-image: url("mike-kenneally-48641-unsplash.jpg")
}

.giphy {
    float: left;
    margin: 5px 5px 5px 5px;
}

.container {
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
}