#everything {
    font-family: 'News Cycle', sans-serif;
    background-image: url("daria-nepriakhina-69841-unsplash.jpg");

}

body {
    font-family: 'News Cycle', sans-serif;
    background-image: url("daria-nepriakhina-69841-unsplash.jpg");

}

.giphy {
    float: left;
    margin: 5px 5px 5px 5px;
}

.mother {
    background-color: rgba(255, 255, 255, 0.4);
    border:5px solid #ffffff;
}

#buttons{ 
    margin-left: 1px;
}

.image-button {
    margin-right: 3px;
    border: 1px solid #ffffff;
}

label {
    margin-left: 18px;
}

#user-input {
    margin-left: 5px;
    margin-right: 3px;
}